@import url("https://fonts.googleapis.com/css?family=Raleway:400,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

:root {
	--primary-font: Helvetica, Arial, sans-serif;
	--header-font: Raleway, sans-serif;
}

.t-font__primary {
	font-family: var(--primary-font);
}

.t-font__header {
	font-family: var(--header-font);
	font-weight: 900;
}

