@import url("reset.css");

@import url("themes.css");
@import url("buttons.css");

/* The main UI header */

.ui-header {
	position: relative;
	max-height: 100pt;
	overflow: auto;
	padding: 10pt 0;
	text-align: center;
	color: var(--primary-color);
}

.ui-header__page-name {
	margin: 0;
	font-size: 60pt;
}

.ui-header__switch-view-button {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translate(0, -50%);
	background-color: var(--primary-color);
	color: white;
}

/* The flexbox for flashcard */

.flashcard__flexbox {
	display: flex;
	flex-direction: row;
	margin: auto 10%;
	justify-content: center;
	align-items: center;
}

.flashcard__card {
	height: 200px;
	border: 2px solid gray;
	margin: 20pt;
	display: flex;
	flex-grow: 1;
}

.flashcard__textbox {
	flex-grow: 1;
	border: none;
	text-align: center;
	font-size: 20pt;
}

/* The Save button */
.save-button__par {
	margin: 0 2%;
	text-align: right;
}

.save-button {
	background-color: var(--accent-color);
	color: white;
}


/* The main UI footer */

.ui-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.user-name-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 1.5em;
	background-color: var(--primary-color);
	color: white;
	font-size: 25pt;
}