@import url("reset.css");

@import url("themes.css");
@import url("buttons.css");
@import url("cards.css");

@import url("ui-header.css");
@import url("ui-footer.css");

/* The main UI */

.ui-main {
	margin: auto;
	width: 80%;
	max-width: 800px;
}

/* The flash cards */

.flashcard__card {
	margin: 20pt;
}

@media screen and (min-width: 600px) {
	.flashcard__flexbox {
		display: flex;
		flex-direction: row;
	}
	.flashcard__card:first-child {
		margin-left: 0;
	}
	.flashcard__card:last-child {
		margin-right: 0;
	}
}