.ui-button {
	padding: 16px;
	border: none;
	border-radius: 12px;
	text-align: center;
	font-size: 14pt;
	cursor: pointer;
}

.primary-action-button__par {
	text-align: right;
}

.primary-action-button {
	background-color: var(--accent-color);
	color: white;
}
