@import url("https://fonts.googleapis.com/css?family=Raleway:400,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

:root {
	--primary-font: Helvetica, Arial, sans-serif;
	--header-font: Raleway, sans-serif;
	--secondary-font: "Open Sans", sans-serif;
}

.t-font--primary {
	font-family: var(--primary-font);
}

.t-font--header {
	font-family: var(--header-font);
	font-weight: 900;
}

.t-font--secondary {
	font-family: var(--secondary-font);
	font-weight: 300;
}
